@import '../../colors';

.roomlist__list
{

  .roomlist__item
  {
    font-size: 1.2em;
    list-style: none;
    border-bottom: 1px solid $color1;
  }

  .roomlist__item_active
  {
    color: $color2;
  }
}

