@import '../../colors';

.nw-timeline {
  &-message {
    border-bottom: 1px solid $color3;
    &--sender {
      min-width: 20%;
      &-name {
        color: $color4;
        &-me {
          color: $color2;
        }
      }
    }
    &--event {
      margin-left: 2%;
      display: inline-block;
      &-action {
        color: $color1;
      }
      &-image-preview {
        display: block;
        max-height: 150px;
      }
    }
    &--status {
      display: inline-block;
      color: $color1;
    }
  }
}
